<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Resto.Front.Api.HorecaControlPlugin.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <!-- Не добавлять bindingRedirect в dll.config плагина.
         На Resto.Front.Api.Host 9.x они ломают загрузку AppDomain (hang после Created plugin domain / LpcReply).
         Unify Microsoft.Bcl.AsyncInterfaces / Tasks.Extensions: ModuleInitializer + DLL рядом с плагином
         (см. AsyncInterfacesBootstrap, FodyWeavers ExcludeAssemblies). -->
    <applicationSettings>
        <Resto.Front.Api.HorecaControlPlugin.Properties.Settings>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PeriodBetweenGuestBillAndCheckInMin" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OrderInBillTooLong" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisableDiscountCalc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcludedPayments" serializeAs="String">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                                   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Discount</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Resto.Front.Api.HorecaControlPlugin.Properties.Settings>
    </applicationSettings>
</configuration>